.fullwidth {
    width: 100%;
    table-layout: auto !important;
    
}

.mdl-data-table td {
    text-align: center !important;
   
}

.tbl-word-wrap {
    width: auto !important;
    white-space: normal !important;
    word-wrap: break-word !important;
}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric { 
    text-align: center !important; 
}

.mar-left-right {
    margin-left: 2% !important;
    margin-right: 2% !important;


}

table {
    border-spacing: 0px !important;
    margin-left:auto !important;
    margin-right:auto !important;
    
}

i {
    color:white !important;
}

.mdl-textfield {
    width: 100% !important;
    
}

.mdl-textfield__input {
    width: 75% !important;
}

.mdl-textfield--floating-label {
    left: 10% !important;
    width: 70% !important;
}

.mdl-js-textfield {
    width: 80% !important;
}

#btnAdd {
    right: 0px;;
}